 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
        <div th:replace="~{fragment :: meta}"></div>   
              
        <div th:replace="~{fragment :: styles}"></div> 
         
         <title>車両一覧</title>       
     </head>
     <body>
         <div class="vehiclemanagement-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 vehiclemanagement-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             
                             <h1 class="mb-4 text-center">車両一覧</h1>   
                             
                             <div class="d-flex justify-content-between align-items-end flex-wrap">
                                 <form method="get" th:action="@{/admin/cars}" class="mb-3">
                                     <div class="input-group">
                                         <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="車両名">
                                         <button type="submit" class="btn text-white shadow-sm vehiclemanagement-btn">検索</button> 
                                     </div>               
                                 </form>     
                                 
                                                                 
                                 <a th:href="@{/admin/cars/register}" class="btn text-white shadow-sm mb-3 vehiclemanagement-btn">登録</a> 
                             </div>
                             
                             <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>                                                            
                             
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">ID</th>
                                         <th scope="col">車両名</th>
                                         <th scope="col">車種</th>
                                         <th scope="col">所属</th>
                                         <th scope="col">車両番号</th>
                                         <th scope="col"></th> 
                                         <th scope="col"></th>                                         
                                     </tr>
                                 </thead>   
                                 <tbody>                                                     
                                     <tr th:each="car : ${carPage}">
                                         <td th:text="${car.getId()}"></td>
                                         <td th:text="${car.getName()}"></td>
                                         <td th:text="${car.getCarModel()}"></td>
                                         <td th:text="${car.getAddress()}"></td>
                                         <td th:text="${car.getCarNumber()}"></td>
                                         <td><a th:href="@{/admin/cars/__${car.getId()}__}">詳細</a></td>
                                          <td><a href="#" class="vehiclemanagement-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteCarModal' + car.getId()}">削除</a></td>                                                                                      
                                     
                                     <!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deleteCarModal' + car.getId()}" tabindex="-1" th:aria-labelledby="${'deleteCarModalLabel' + car.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteCarModalLabel' + car.getId()}" th:text="${car.getName() + 'を削除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post"th:action="@{/admin/cars/__${car.getId()}__/delete}">
                                                             <button type="submit" class="btn vehiclemanagement-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div> 
                                     
                                     </tr>                                      
                                 </tbody>
                             </table> 
                             
                             <!-- ページネーション -->
                             <div th:if="${carPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="車両一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${carPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${carPage.isFirst()}" th:href="@{/admin/cars(page = ${carPage.getNumber() - 1}, keyword = ${keyword})}" class="page-link vehiclemanagement-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, carPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == carPage.getNumber()}" class="page-link active vehiclemanagement-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == carPage.getNumber()}" th:href="@{/admin/cars(page = ${i}, keyword = ${keyword})}" class="page-link vehiclemanagement-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">                        
                                             <span th:if="${carPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${carPage.isLast()}" th:href="@{/admin/cars(page = ${carPage.getNumber() + 1}, keyword = ${keyword})}" class="page-link vehiclemanagement-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav> 
                             </div>  
                                                                   
                         </div>
                     </div>
                 </div>              
             </main>
             
             <!-- フッター -->
              <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <!-- Bootstrap -->
         <div th:replace="~{fragment :: scripts}"></div>         
     </body>
 </html>